@page 
{
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}
</style>
<style>
.page-break {
    page-break-after: always;
    width:100%;
}
.page {
    border:dashed;
    height:297mm;
    width:210mm;
    
}
.address {
    border:1px solid;
    margin:0px;
    font-size: 3mm;
    width:50mm;
    height:48mm;
    display: inline-flex;
    padding-left: 5px;
}
.page-print {
    border:0px dotted;
    height:297mm;
    width:210mm;
}