.js-print {
	height: 27px;
	padding: 4px;
}
.js-print-subscription {
	background-color: #777;
	border-color: #777;
	margin-right: 5px;
    margin-top: -5px;
}
.js-search {
	display: none;
	margin-left: 10px;
}